@model Szfindel.Models.User

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<form asp-action="Login" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username">Nazwa użytkownika:</label>
        <input asp-for="Username" class="form-control" />
     
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło:</label>
        <input asp-for="Password" class="form-control" />
       
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>

